<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^dist/ - [L]
  RewriteRule ^assets/(.*)$ dist/assets/$1 [L]
  RewriteRule ^(favicon\.ico|robots\.txt|placeholder\.svg)$ dist/$1 [L]
  RewriteRule ^$ dist/index.html [L]
  RewriteRule ^.*$ dist/index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType text/javascript .js
  AddType text/javascript .mjs
  AddType text/css .css
</IfModule>
